/*  Stylesheet for Sic Transit, copyright 2023 by
 *  Anthony W. Hursh. MIT license.
 */
.sic-panel {
   position:absolute;
   left:0;
   top: 0;
   /*  We usually want panels to fill their container. Can change this
    *  if desired.
    */
   width:100%;
   height:100%;
   margin:0;
   /*  We want any borders to show up. */
   box-sizing: border-box;
   display:block;
   z-index:-3000;
   backface-visibility: hidden;
   transform-style: preserve-3d;
 
}


.sic-transit-black-panel{
    position:absolute;
    width:100%;
    height:100%;
    display:block;
    background-color:black;
}
.sic-transit-iris-panel{
    position:absolute;
    width:100%;
    height:100%;
    display:block;
    background: radial-gradient(circle, transparent 0%, transparent 0%, black 0%);
}
.sic-transit-white-panel{
    position:absolute;
    width:100%;
    height:100%;
    display:block;
    background-color:white;
}
.sic-transit-gray-panel{
    position:absolute;
    width:100%;
    height:100%;
    display:block;
    background-color:gray;
}

.sic-transit-flip-panel {
    position:absolute;
    width:100%;
    height:100%;
    display:block;
    perspective: 50px;
    background-color:gray;
    transform-style: preserve-3d;
}

.sic-transit-flipped-x{
    transform:rotateX(180deg);
}

.sic-transit-flipped-y{
    transform:rotateY(180deg);
}

.sic-container {
    /* Container needs to have a position in order for z-index to work
       on children. Anything other than static should work.
    */
    position:relative;
    padding:0;
    width:250px;
    height:250px;
    /*  Don't display portions of children that lie outside the boundary. 
     *  Might want to use scroll in some situations, or the overflow-x
     *  and/or overflow-y properties.
     */
    overflow: hidden;
    /*  Optionally, make the container resizable. */
    resize:both;
}