/* CSS specific to demo. */

#mypanel1 {
   background-color: red;
   color: yellow;
 }
 #mypanel2 {
   background-color: green;
   color: yellow;
 }
 #mypanel3 {
   background-color: blue;
   color: white;
 }
 #mypanel4 {
   background-color: violet;
   color: darkblue;
 }
 #mypanel5 {
   background-color: yellow;
   color: black;
 }
 #mypanel6 {
   background-color: cyan;
   color: darkblue;
 }