#slide1 {
    background-color:paleturquoise;
    color:darkblue;
 }
 #slide2 {
    background-color:orange;
    color:darkblue;
 }
 #slide3 {
    background-color:darkgreen;
    color:white;
 }
 #slide4 {
    background-color: yellow;
    color:darkblue;
 }
 #slide5 {
    background-color: red;
    color:palegoldenrod;
 }
 #slide6 {
    background-color: lavender;
    color:darkblue;
 }

#testAdd1{
   background-color: rebeccapurple;
}
#testAdd2{
   background-color:chocolate;
}

#testAdd3{
   background-color:darkorchid;
}