/* Stylesheet for Sic Transit, copyright 2023 by
 * Anthony W. Hursh. MIT license.

.sic-item {
   position:absolute;
   left:0;
   top: 0;
   width:100%;
   height:100%;
   margin:0;
   box-sizing: border-box;
   display:none;
   z-index:-30;
   border:1px solid black;
   background-color:paleturquoise;
   color:darkblue;


}
.sic-transit-overlay{
    position:absolute;
    opacity:0.5;
    width:100%;
    height:100%;
    display:block;
    background-color:black;
}
#sic-container {
    /* Container needs to have a position in order for z-index to work
       on children. Anything other than static should work.
    */
    position:relative;
    padding:0;
    width:250px;
    height:250px;
    /* Don't display off-screen portions of children. */
    overflow: hidden;
    resize:both;

}
